body {
    background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
    background-size: 100%;
   
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}


.main{
    width: 100vw; /* CHANGE THIS FOR WINDOW SIZE*/
    height: 100vh; /* CHANGE THIS FOR WINDOW SIZE*/
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .main > * {
    grid-column: 1;
    grid-row: 1;
  }
  .item{
    width: 100px; /* CHANGE THIS FOR PLANET SIZE*/
    height: auto; /* CHANGE THIS FOR PLANET SIZE*/
    animation: spinAround 60s linear infinite;
   
  
  }
  @keyframes spinAround{
    from{
      transform: rotate(0deg) translate(var(--c));
    }
    to{
      transform: rotate(360deg) translate(var(--c));
    }
  }
  .center{
    width: 150px; /* CHANGE THIS FOR SUN SIZE*/
    height: auto; /* CHANGE THIS FOR SUN SIZE*/
   
  }
  
  .Earth {
   
    animation-duration: 80s;
    width: 40px;
    height: auto;
    --c: 260px; /* CHANGE THIS FOR DISTANCE FROM THE SUN */
   
  }
  .Mercury {
   
    animation-duration: 40s;
    height: 30px; 
    width: auto; 
    --c: 170px; /* CHANGE THIS FOR DISTANCE FROM THE SUN */
    
  
  }
  .Venus {
 
    animation-duration: 60s;
    height: 30px; 
    width: auto;
    --c: 220px; /* CHANGE THIS FOR DISTANCE FROM THE SUN */
   
   
  
  }
  .Mars {
   
    animation-duration: 160s;
    width: 50px;
    height: auto;
    --c: 320px; /* CHANGE THIS FOR DISTANCE FROM THE SUN */
   
  }

  .Saturn {
   
    animation-duration: 400s;
    width: 60px;
    height: auto;
    --c: 480px;
  }

 .Uranus {
   
    animation-duration: 600s;
    height: 30px; 
    width: auto; 
    --c: 550px;
 }

 .Neptune {
   
    animation-duration: 700s;
    width: 50px;
    height: auto;
    --c: 620px;
 }

.Jupiter {
   
    animation-duration: 300s;
    width: 90px;
    height: auto;
    --c: 380px;
}




.space-img{
        display: flex;
        flex-wrap: wrap;
        padding: 0 3px;
        gap: 20px;

}

.button{
    background-color: #2b698f6a;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 20px;
}

 
.videos{
    display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        gap: 20px;
        justify-content: center;
        align-items: center;

}
.info-dump {
        width: 50vw;
        font-size: medium;
        color: rgb(228, 217, 233);
        background-color:rgba(15, 58, 95, 0.482)
}
.info-dump2 {
    width: 100%;
    height: auto;
    font-size: medium;
    color: rgb(228, 217, 233);
    background-color:rgba(15, 58, 95, 0.482)
}
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page {
    width: 100%;
    height: 100%;
}

