body {
  background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg');
  background-size: 100%;
}

.main{
    width: 100vw; 
    height: 100vh; 
    display: grid;
    justify-content: center;
    align-content: center;
  }
  .main > * {
    grid-column: 1;
    grid-row: 1;
  }
  .item{
    width: 100px; 
    height: auto; 
    animation: spinAround 60s linear infinite;
   
  
  }
  @keyframes spinAround{
    from{
      transform: rotate(0deg) translate(var(--x), var(--y));
    }
    to{
      transform: rotate(360deg) translate(var(--x), var(--y));
    }
  }
  .center{
    width: 150px; 
    height: auto; 
  }
  
  .Mercury {
    animation-duration: 20s;
    height: 30px; 
    width: auto; 
    --x: -140px; 
    --y: -100px
  }
  .Venus {
    animation-duration: 42s;
    height: 30px; 
    width: auto;
    --x: 195px; 
    --y: -100px
  }
   .Earth {

       animation-duration: 45s;
       width: 40px;
       height: auto;
       --x: -235px;
       --y: 110px
   }   
   
  .Mars {
   
    animation-duration: 50s;
    width: 50px;
    height: auto;
    --x: 285px; 
    --y: 120px
  }
.Jupiter {
    animation-duration: 55s;
    width: 70px;
    height: auto;
    --x: -335px;
    --y: -200px
}
  .Saturn {
   
    animation-duration: 60s;
    width: 60px;
    height: auto;
    --x: 400px;
    --y: 260px
  }

 .Uranus {
   
    animation-duration: 65s;
    height: 30px; 
    width: auto; 
    --x: -420px;
    --y: 310px
 }


 .Neptune {
   
    animation-duration: 70s;
    width: 50px;
    height: auto;
    --x: 470px;
    --y: -310px
 }

 
.space-img{
      display: flex;
      flex-wrap: wrap;
      padding: 0 3px;
      gap: 20px;
      height:auto;

}

.button{
  background-color: #2b698f7d;
      border: none;
      color: white;
      padding: 10px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 20px;
}


.videos{
  display: flex;
      flex-wrap: wrap;
      padding: 0 4px;
      gap: 20px;
      justify-content: center;
      align-items: center;

}
.info-dump {
      width: 50vw;
      font-size: medium;
      color: rgb(228, 217, 233);
      background-color:rgba(15, 58, 95, 0.482)
}
.info-dump2 {
  width: 100%;
  height: auto;
  font-size: medium;
  color: rgb(228, 217, 233);
  background-color:rgba(15, 58, 95, 0.482)
}
.info-container {
/* padding:20px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page {
  width: 100%;
  height: 100%;
}


.app {
  color: rgb(228, 217, 233);
  background-color: rgba(15, 58, 95, 0.482);
  height: 400px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}


.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}


.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-section button {
  background-color: #2b698f6a;
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 20px;
  
}
.nav-container{
  display: flex;
  flex-direction: wrap;
}
.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}